---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllPosts } from "../lib/posts";

const posts = await getAllPosts();
---

<BaseLayout
  title="Diamond-Blog"
  description="Diamond Zhou's blog"
  canonicalUrl="https://diamondfsd.com/"
>
  <main>
    <h1>Diamond-Blog</h1>
    <ul>
      {posts.map((post) => (
        <li><a href={`/${post.slug}/`}>{post.title}</a></li>
      ))}
    </ul>
  </main>
</BaseLayout>
