---
import "../styles/global.css";
import AdSense from "../components/AdSense.astro";
import Analytics from "../components/Analytics.astro";
import SeoHead from "../components/SeoHead.astro";

interface Props {
  title?: string;
  description?: string;
  canonicalUrl?: string;
}

const { title = "Diamond-Blog", description = "", canonicalUrl } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <SeoHead title={title} description={description} canonicalUrl={canonicalUrl} />
    <AdSense />
    <Analytics />
  </head>
  <body>
    <slot />
  </body>
</html>
